/*
MY COLOR PALETTE
orange = #dca15c
tan = #f1eae2
*/

@media screen {
    #topper {
        background-color: #f1eae2;
    }
    img {
        width: 100%;
        height: 750px;
        object-fit: cover;
        object-position: bottom;
    }

    h1 {
        font-family: "Merriweather", serif;
        font-weight: 700;
        letter-spacing: 0.1px;
        font-size: 30px;
        text-align: center;
    }

    #content {
        background-color: #f1eae2;
    }
    h2 {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        letter-spacing: 0.1px;
        font-size: 25px;
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
        border-bottom: 4px solid #dca15c;
        text-align: center;
        padding: 15px;
    }
    .caption {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: small;
    }

    .credit {
        color: #dca15c;
        font-family: "Roboto", sans-serif;
        font-size: small;
        text-transform: uppercase;
        font-weight: bold;
    }
    h3 {
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        text-align: center;
        padding-top: 15px;
    }

    h4 {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 35px;
    }

    p {
        font-family: "Roboto", sans-serif;
    }
    h5 {
        border-bottom: 4px solid #dca15c;
        margin-left: 50px;
        margin-right: 50px;
    }
    #orchard {
        padding-left: 50px;
        padding-right: 50px;
    }
    .caption2 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: small;
    }

    .credit2 {
        color: #dca15c;
        font-family: "Roboto", sans-serif;
        font-size: small;
        text-transform: uppercase;
        font-weight: bold;
    }
    h6 {
        font-family: "Merriweather", serif;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 30px;
        margin-left: 150px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .caption3 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: small;
    }

    .credit3 {
        color: #dca15c;
        font-family: "Roboto", sans-serif;
        font-size: small;
        text-transform: uppercase;
        font-weight: bold;
    }
    #house {
        padding-left: 50px;
        padding-right: 50px;
    }
    ol {
        font-family: "Roboto", sans-serif;
    }
    #pullquote1 {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 40px;
        margin-left: 150px;
        text-align: center;
        color: #dca15c;
    }

    #quote {
        border-bottom: 6px double #dca15c;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 50px;
    }
    #pull {
        border-bottom: 6px double #dca15c;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 50px;
    }

    #pullquote2 {
        font-family: "Roboto", sans-serif;
        font-weight: bold;
        font-size: 40px;
        margin-left: 150px;
        text-align: center;
        color: #dca15c;
    }

    #quote2 {
        border-bottom: 6px double #dca15c;
        margin-left: 150px;
        margin-right: 150px;
        margin-top: 50px;
    }
    #pull2 {
        border-bottom: 6px double #dca15c;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 50px;
    }
    #slider {
        padding-left: 50px;
        padding-right: 50px;
    }
    #arial {
        padding-left: 50px;
    }
    .caption4 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: small;
    }

    .credit4 {
        color: #dca15c;
        font-family: "Roboto", sans-serif;
        font-size: small;
        text-transform: uppercase;
        font-weight: bold;
    }
    #graph {
        padding-left: 50px;
        padding-right: 50px;
    }
    #splitimage {
        background-color: #f1eae2;
    }
    #content2 {
        background-color: #f1eae2;
    }
    .caption5 {
        color: black;
        font-family: "Roboto", sans-serif;
        font-size: small;
    }

    .credit5 {
        color: #dca15c;
        font-family: "Roboto", sans-serif;
        font-size: small;
        text-transform: uppercase;
        font-weight: bold;
    }
    #arial2 {
        padding-right: 50px;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 50px;
    }
    p {
        margin-left: 50px;
        margin-right: 50px;
    }
    h6 {
        margin-left: 50px;
        margin-right: 50px;
    }
    ol {
        padding-left: 100px;
    }
}

@media (min-width: 768px) {
    h1 {
        font-size: 65px;
    }
    p {
        margin-left: 75px;
        margin-right: 75px;
    }
    h6 {
        margin-left: 75px;
        margin-right: 75px;
    }
    ol {
        padding-left: 150px;
    }
}

@media (min-width: 992px) {
    h1 {
        font-size: 75px;
    }
    p {
        margin-left: 100px;
        margin-right: 100px;
    }
    h6 {
        margin-left: 100px;
        margin-right: 100px;
    }
    ol {
        padding-left: 200px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 90px;
    }
    p {
        margin-left: 150px;
        margin-right: 150px;
    }
    h6 {
        margin-left: 150px;
        margin-right: 150px;
    }
    ol {
        padding-left: 225px;
    }
}
