/*
MY COLOR PALETTE
Dark teal - #345665
Light teal - #75a8a4
Light cream - #EFE9E5
Dark brown - #7f543d
Light brown - #AF8E72
Light blue - #B6D9E0
White - #ffffff 
*/

#topper {
    background-color: #efe9e5;
}

#headshot {
    width: 100%;
    border-radius: 676px;
    border: 4px solid #b6d9e0;
    padding: 10px;
    margin: 10px;
}

h1 {
    font-family: "Fraunces", serif;
    font-size: 150px;
    font-weight: bold;
    color: #75a8a4;
    margin: 10px 0px 0px 20px;
    letter-spacing: 5px;
}

h2 {
    font-family: "Fraunces", serif;
    font-size: 150px;
    font-weight: bold;
    color: #345665;
    margin: -42px 0px 30px 20px;
    letter-spacing: 5px;
}

.job {
    margin-bottom: 20px;
    border-bottom: 3px #af8e72;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 33px;
    text-transform: uppercase;
    color: #7f543d;
    margin: 10px 0px 17px 20px;
}

button {
    background-color: #7f543d;
    color: #efe9e5;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.56px;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 50px;
    margin: 10px 0px 0px 20px;
}

button:hover {
    background-color: #af8e72;
}
